.map-left {
    background-image: url("../images/map_left.png");
    position: absolute;
    z-index: -2;
    filter: drop-shadow(10px 10px 4px #29292a53);
    height: 70vh;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: right 0 top 125px;
}

.map-right {
    background-image: url("../images/map_right.png");
    position: absolute;
    z-index: -2;
    filter: drop-shadow(10px 10px 4px #29292a53);
    height: 70vh;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: left 0 top 125px;
}

.sub-hero {
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sub-content {
    width: 80vw;
    text-align: left;
    color: var(--main-black);
    background: var(--main-light);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

#loginForm {
    display: block;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#signupForm {
    display: none;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

h2 {
    margin-bottom: 25px;
}

input {
    height: 2rem;
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
}

button {
    height: 2rem;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
