#destinationForm {
    display: block;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#destinationForm h2 {
    margin-bottom: 25px;
}

#destinationForm input {
    height: 2rem;
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
}

#destinationForm button {
    height: 2rem;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

#destinationForm textarea {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;

}

.travelList {
    /* background-color: var(--main-light); */
    padding-bottom: 5em;
    width: 80vw;
    margin: 0 auto;
    border-radius: 0.75em;

    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.travel-list__card-cont {
    text-decoration: none;
    color: unset;
}

.travel-list__card {
    display: flex;
    flex-direction: column;
    background-color: var(--main-light);
    border-radius: 0.5em;
    padding: 3em;
}

.travel-list__card p {
    color: gray;
}

.travel-list__img-cont {
    margin: 1em 0;
}