#loginForm{
    display: block;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#signupForm {
    display: none;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

h2{
    margin-bottom: 25px;
}

input{
    height: 2rem;
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
}

button{
    height: 2rem;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

